<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'mobitor - Welcome'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Hallo beim MOBITOR</h1>
<div class="start">
    <div class="screens">
        <p>folgende Screens sind verfügbar:</p>
        <ul>
            <li th:each="screen : ${screens}">
                <div th:with="errors=${svh.getNumberOfRestErrors(screen)},totalCalls=${svh.getTotalNumberOfRestCalls(screen)}"
                     th:class="percentageFillRestErrors"
                     th:styleappend="${svh.getRestErrorsCssGradient(errors, totalCalls)}"
                     title="Rest Fehler / Aufrufe">
                    <th:block th:text="${totalCalls > 0 ? errors + '/' + totalCalls : '&nbsp;'}" />
                </div>
                <a th:text="${screen.label}" th:href="@{/screen(key=${screen.configKey})}" />
            </li>
        </ul>
    </div>
    <div class="help">
        <p>Hilfe:</p>
        <p><a th:href="@{/legend}">Legende</a></p>
        <p><a href="./doc/index.html">Dokumentation</a></p>
    </div>
</div>

<div class="footer">
    Mobitor, Version: <strong th:text="${applicationVersion}"/>
    //
    Profil: <strong th:text="${activeProfiles}" />
    //
    Netzwerk: <strong th:text="${network}" />
</div>
</body>
</html>
