<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverName" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="environment" type="java.lang.String"*/-->
<!--/*@thymesVar id="deployments" type="java.util.List<ch.mobi.mobitor.plugin.dwh.domain.DwhDeploymentInformation>"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - Package Deployment Information - ' + ${screen.configKey}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1 class="screenTitle">Package Deployment Information</h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">Zurück</a> zur Übersicht.
</p>

<div class="statusInfoList">
    <div>
        <div class="label">Server:</div>
        <div th:class="data" th:text="${serverName}"></div>
    </div>
    <div>
        <div class="label">Applikation:</div>
        <div th:class="data" th:text="${applicationName}"></div>
    </div>
    <div>
        <div class="label">Umgebung:</div>
        <div th:class="data" th:text="${environment}"></div>
    </div>
</div>

<table>
    <tr>
        <th>Release Day</th>
        <th>Release Time</th>
        <th>Package</th>
        <th>Branchname</th>
        <th>Deployer</th>
        <th>CI</th>
        <th>Installation Time</th>
    </tr>
    <tr th:each="deployment : ${deployments}">
        <td th:text="${deployment.version}" style="min-width: 6em"></td>
        <td th:text="${deployment.time}"></td>
        <td th:text="${deployment.jiraId}"></td>
        <td th:text="${deployment.branch}"></td>
        <td th:text="${deployment.deployUser}"></td>
        <td style="text-align: center">
            <a th:if="${deployment.ciLink != null}" th:href="${deployment.ciLink}" target="_blank">
                <i class="fa fa-file"></i>
            </a>
        </td>
        <td th:text="${deployment.installation_time}"></td>
    </tr>
</table>

</body>
</html>
