<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.rest.domain.RestCallInformation"*/-->
<!--/*@thymesVar id="pipeline" type="ch.mobi.mobitor.domain.screen.DefaultPipeline"*/-->
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="env" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<body>

<span class="informationBlock restInformation" th:classappend="${svh.getRestCssClass(appInfo)}">
    <a th:href="@{/rest(screen=${screen.configKey},env=${env},server=${pipeline.appServerName},application=${applicationName})}"
       class="restService fa fa-medkit"
       th:classappend="${appInfo.hasAnyErrors() ? 'restService-error' : 'restService-success'}">
        <i th:if="${appInfo.hasAnySlowCalls()}" class="fa fa-bed restCallSlow"></i>
    </a>
</span>

<th:block th:with="fwResp=${svh.getFlywayRestServiceResponse(appInfo)}" >
    <span th:if="${fwResp != null}" class="informationBlock" th:classappend="${svh.getCssClassForDb(fwResp)}">
        <span class="flywayInformation" th:title="${'Flyway  Version: ' + fwResp.version + ' / State: ' + fwResp.state}">
            <i class="fa fa-database" aria-hidden="true"></i> <span th:text="${fwResp.version}" />
        </span>
    </span>
</th:block>

</body>
</html>